/* You can add global styles to this file, and also import other style files */
p {
  color: green;
}

 body {
  height: 100vh;
  background-color: blueviolet;
  font-size: 13.5px;
}

.ng-sidebar {
  background-color: aquamarine;
  width: 11rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
